*{
  margin: 0px;
  padding: 0px;
}
.navb{
  /* display: flex; */
  background-color: beige;
}

.navul{
  display: flex;
  height: 50px;
  /* justify-items: center; */
  align-items: center;
}

.navul li{
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  padding: 0px 20px 0px 0px;
  /* margin: 10px 5px 0px 5px; */
}

.navb li a{
  text-decoration: none;
  color: rgb(3, 0, 0);
  font-weight: 400;
}

.navb li a:hover{
  text-decoration: none;
  color: rgb(60, 241, 136);
  font-weight: 400;
}

#title{
  margin-left: 10px;
  margin-right: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 1000;
  color: red;
}
