*{
  margin: 0px;
  padding: 0px;
}
.navb{
  /* display: flex; */
  overflow: hidden;
  z-index: 1;
  background-color: beige;
  position: fixed;
  top: 0; 
  width: 100%; 
}

.navul{
  display: flex;
  height: 70px;
  /* justify-items: center; */
  align-items: center;
}

.navul li{
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  padding: 0px 20px 0px 0px;
  margin: 10px 0px 0px 0px;
}

.navb li a{
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(3, 0, 0);
  font-weight: 600;
}

.navb li a:hover{
  text-decoration: none;
  color: rgb(60, 241, 136);
  font-weight: 400;
}

#title{
  font-size: 1.2rem;
  margin-left: 10px;
  margin-right: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 1200;
  color: red;
}
